.app {
  /* width: 500px; */
  margin: 0 auto;
  text-align: center;
}
.accordian-data {
  /* margin: 10px; */
  border: 2px solid black;
  width: 700px;
  margin: 0 auto;
  /* -webkit-transition-duration: \; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.accordian-data {
  padding: 10px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}
.button:hover {
  background-color: blanchedalmond;
}
.accordian-text {
  font-size: 18px;
  margin: 8px;
}
